<?xml version="1.0" encoding="utf-8"?>
<Content Key="bfb4bca0-eaa9-4c62-aaba-790405d9da40" Alias="Read me" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ReadMe</Path>
    <Trashed>false</Trashed>
    <ContentType>readMe</ContentType>
    <CreateDate>2026-06-05T14:15:32</CreateDate>
    <NodeName Default="Read me" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7943c8f0-dfb3-49ae-b181-d89a5ddde1b5">readme</Template>
  </Info>
  <Properties>
    <countries>
      <Value><![CDATA[[
  "AQ",
  "AG",
  "AI",
  "GS",
  "SS",
  "ES"
]]]></Value>
    </countries>
    <country>
      <Value><![CDATA[AR]]></Value>
    </country>
    <csv>
      <Value><![CDATA[ES,US]]></Value>
    </csv>
  </Properties>
</Content>