<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7fad216e-cbae-4523-967c-2c85fd616524" Alias="readMe" Level="1">
  <Info>
    <Name>ReadMe</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>readme</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7943c8f0-dfb3-49ae-b181-d89a5ddde1b5">readme</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8c324eb4-c95c-495c-a283-5415c269dfa7</Key>
      <Name>Countries</Name>
      <Alias>countries</Alias>
      <Definition>aeeafe42-00d1-41d4-8566-45949e0bf35c</Definition>
      <Type>Digbyswift.Umbraco.CountryPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="dataTypes">Data types</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f08212d9-a792-4100-8c28-8eeac55136b5</Key>
      <Name>Country</Name>
      <Alias>country</Alias>
      <Definition>de272852-fc48-47c4-b0c7-68e479147f8c</Definition>
      <Type>Digbyswift.Umbraco.CountryPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="dataTypes">Data types</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>75f25285-728c-44a5-ac30-587cbe9d4d7c</Key>
      <Caption>Data types</Caption>
      <Alias>dataTypes</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>