<?xml version="1.0" encoding="utf-8"?>
<DataType Key="de272852-fc48-47c4-b0c7-68e479147f8c" Alias="Country Picker - Single" Level="2">
  <Info>
    <Name>Country Picker - Single</Name>
    <EditorAlias>Digbyswift.Umbraco.CountryPicker</EditorAlias>
    <EditorUIAlias>Digbyswift.Umbraco.CountryPicker.Ui</EditorUIAlias>
    <Folder>Country+Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "multiple": false
}]]></Config>
</DataType>