<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aeeafe42-00d1-41d4-8566-45949e0bf35c" Alias="Country Picker - Multiple" Level="2">
  <Info>
    <Name>Country Picker - Multiple</Name>
    <EditorAlias>Digbyswift.Umbraco.CountryPicker</EditorAlias>
    <EditorUIAlias>Digbyswift.Umbraco.CountryPicker.Ui</EditorUIAlias>
    <Folder>Country+Pickers</Folder>
  </Info>
  <Config><![CDATA[{
  "multiple": true
}]]></Config>
</DataType>